@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fasthand&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Dancing Script', cursive;
}

h2 {
    font-size: 1.25rem;
}

p, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}