@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fasthand&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  
}

body {
    background-color: black;
    font-family: 'Poppins', sans-serif !important;
}

.decor-text {
    font-family: 'Dancing Script', cursive ;
}

.btn-primal {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #C4971C;
    transition: background-color .5s, color .5s;
}

.btn-primal:hover {
    color: white;
    background-color: black;
    border: 2px solid #C4971C;
}

.menu {
    border: 2px solid black;
    border-radius: 50px 50px 50px 50px;
}

.menu li{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    transition: background-color .5s, color .5s;
    border: 2px solid white;

    height: 100%;
}
.menu li:hover {
    background-color: black;
    color: white
}

.menu li {
    list-style-type: none;
    list-style: none;
    background-color: white;
}

.menu li:last-child {
    padding-right: 40px;
    border-radius: 0px 50px 50px 0px;
}

.menu li:first-child {
    padding-left: 40px;
    border-radius: 50px 0px 0px 50px;
}

input[type='text'], textarea {
    padding: 10px;
    color: black;
}

.formulaire input[type='text'] {
    padding: 5px 10px;
    font-size: 18px;
}


:root {
--form-control-color: white;
--form-control-disabled: #959495;
}

*,
*:before,
*:after {
box-sizing: border-box;
}

body {
margin: 0;
}

.form-control {
    font-size: 1.3rem;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}


input[type="checkbox"] {
/* Add if not using autoprefixer */
-webkit-appearance: none;
/* Remove most all native input styles */
appearance: none;
/* For iOS < 15 */
background-color: var(--form-background);
/* Not removed via appearance */
margin: 0;

font: inherit;
color: currentColor;
width: 1em;
height: 1em;
border: 0.15em solid currentColor;
border-radius: 0.15em;
transform: translateY(-0.075em);

display: grid;
place-content: center;
}

input[type="checkbox"]::before {
content: "";
width: 0.65em;
height: 0.65em;
clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
transform: scale(0);
transform-origin: bottom left;
transition: 120ms transform ease-in-out;
box-shadow: inset 1em 1em var(--form-control-color);
/* Windows High Contrast Mode */
background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}